$light-blue: #0238ea;

.black {
    background-color: #000;
}

.dark {
    background-color: #14213d;
}
.jumbotron {
    margin: 0;
    padding: 2rem;
    color: white;
    min-height: 150px;
}

img {
    height: 200px;
}