<mat-toolbar color="primary" class="black">
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="material-icons">home</span>Home</a>
  <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-home fa-lg"></span>About</a>
  <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-list fa-lg"></span>Contact</a>
  <a mat-button><span class="fa fa-address-card fa-lg"></span>  Info</a>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row" 
    fxLayout.lt-md="column"
    fxLayoutGap="30px">

  <div fxFlex fxLayout="column">
    <h1 class="dark-grey">Music Collection Project</h1>
    <p>Here you will fint enormous library of music collection of all time. Greatest songs, greatest artists here in one single-page website </p>
  </div>
     
  <div fxFlex
    fxLayout.gt-sm="20%">
    <img src="../../assets/image/logo.png" alt="Logo">
  </div>
</div>