/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  padding: 0;
  margin: 0;
  color: white;
  background-color: black;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 1.5rem;
  display: flex;
}

.flex-spacer {
  flex: 1 1 auto;
}

.active {
  background-color: #dec79b;
  color: #000;
}

.dark-grey {
  color: #dec79b !important;
}
