<div class="container" fxFlex fxLayout="column">
    <div fxFlex>
        <h2 class="dark-grey">About Us</h2>
        <hr>
    </div>
    

    <div fxFlex
        fxLayout="row">

        <div fxFlex="70">
            <div class="half-width">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    
        <div fxFlex>
            <mat-card class="background-black border-darkgrey">
                <mat-card-title class="dark-grey">Our Achievements</mat-card-title>
                <mat-card-content class="text-white">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum varius duis at consectetur lorem donec massa sapien faucibus. Commodo elit at imperdiet dui. Orci sagittis eu volutpat odio facilisis mauris. Dapibus ultrices in iaculis nunc sed.</p>
                    
                    <p>Started 3 Mar. 2020</p>
                    <p>HK Fine Foods Inc.</p>
                    <p>Major Stake Holder</p>
                    <p>Last Year's Turnover</p>
                    <p>$1,250,375</p>
                    <p>Employees</p>
                    <p>40</p>
              
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>